<h2>Sign up Below or <%= link_to "Sign in", new_session_path(resource_name) %></h2>

<p>To show off the authentication system, I chose to block off certain parts of the website unless a user is signed in. Simply log in via Twitter or create an account with any made-up email address and any password and you'll be on your way. The "About" page and "Hire Me" pages can be seen without logging in, for what its worth.</p>

<%- if devise_mapping.omniauthable? %>
  <h3><%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Click Here To Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br /></h3>
  <% end -%>
  <% end -%> or register below:
  <hr>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up", :class => 'button' %></div>

<% end %>

<%= render "devise/shared/links" %>
