<h1>Register for Event</h2>

<%= form_for([@event, @registration]) do |f| %>
<!-- <fieldset> -->
  <ul>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name, size: 40, autofocus: true %>
    </li>
    <li>
      <%= f.label :email %>
      <%= f.text_field :email, size: 40, autofocus: true %>
    </li>
    <li>
    <%= f.label :How_you_heard_about_the_Event %>
    <%= f.select :how_heard,
                 Registration::HOW_HEARD_OPTIONS,
                 prompt: "Please select one." %>
    </li>
  </ul>
    <ul-class "button-group">
    <%= f.submit class: "small button" %>
    <%= button_to "Submit", new_user_registration_path, class: "button", :method => :get %>
    <%= link_to "Cancel", events_path, class: "small button" %>
  </ul>
<!-- </fieldset> -->
<% end %>