<h1>Register for Event</h2>

<%= form_for([@event, @registration]) do |f| %>
<!-- <fieldset> -->
<h4><%= link_to "Show Registrations", event_registrations_path(@event) %></h4>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, size: 40, autofocus: true %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email, size: 40, autofocus: true %>
    </p>
    <p>
    <%= f.label :How_did_you_hear_about_the_Event? %>
    <%= f.select :how_heard,
                 Registration::HOW_HEARD_OPTIONS,
                 prompt: "Please select one." %>
    </p>
  </p>
    <ul-class "button-group">
    <%= f.submit class: "small button" %>
    <%= link_to "Cancel", events_path, class: "small button" %>
  </ul>
  </p>
<!-- </fieldset> -->
<% end %>