<%= render "layouts/navbar" %>

<div class"row">

<div class="span8">

<article>
    <header>
      <h2><%= @event.name %></h2>
      <h3><%= pluralize(@event.capacity, 'spot') %></h3>
    </header>
      <p>
        <%= @event.description %>
      </p>
      <hr>
      <strong>When:</strong>
      <br>
      <p><%= @event.starts_at %></p>
      <hr>
      <strong>Where: </strong>
      <br>
      <p><%= @event.location %></p>
      <hr>
      <strong>Price: </strong>
      <br>
      <p><%= format_price(@event) %></p>
</article>
</div>

<div class="span4">
  <%= image_for(@event) %>
</div>
</div>


<div class ="span4">
<%= button_to "All Events", root_path, :method => :get %>
<%= button_to "Edit", edit_event_path(@event), :method => :get %>
<%= button_to "Delete", event_path(@event), method: :delete, data: {confirm: 'Are you sure?'} %>

<a href="All Events" class="btn"><i class="icon-calendar"></i> <strong>Events</strong></a>
<a href="#" class="btn"><i class="icon-edit"></i> <strong>Edit</strong></a>
<a href="#" class="btn"><i class="icon-trash"></i> <strong>Delete</strong></a>

</div>



<%= render "layouts/footer" %>