<div>
  <%= image_for(@event) %>
</div>

<article>
    <header>
      <h2><%= @event.name %></h2>
      <!--<h3><%= pluralize(@event.spots_left, 'spot')%> still available.</h3>
      <!-- <h4><%= link_to "Register for this Event", new_event_registration_path(@event) %></h4> -->
      <h4><%= register_link_for(@event) %></h4>
    </header>
      <p>
        <%= @event.description %>
        <h4><%= link_to "Show Registrations", event_registrations_path(@event) %></h4>
      </p>
      <hr>
      <strong>When:</strong>
      <br>
      <p><%= @event.starts_at %></p>
      <hr>
      <strong>Where: </strong>
      <br>
      <p><%= @event.location %></p>
      <hr>
      <strong>Price: </strong>
      <br>
      <p><%= format_price(@event) %></p>
</article>

<div>
<ul-class "button-group">
<%= link_to "See All Events", root_path, class: 'small button', :method => :get %>
<%= link_to "Edit", edit_event_path(@event), :class => 'small button', :method => :get %>
<%= link_to "Delete", event_path(@event), :class => 'small button', method: :delete, data: {confirm: 'Are you sure?'} %>
</ul>
</div>




