<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid sticky">
    <nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "GeekSocial" %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Browse Events" %></li>
      <li class="divider"></li>
      <li><%= link_to "Add Event" %></li>
      <li class="divider"></li>
      <li><%= link_to "Contact Us" %></li>
      <li class="divider"></li>
      <li><%= link_to "Sign In" %></li>
    </ul>
  </div>
  </div>
</nav>

<div class="row">
  <div class="small-8 columns"><%= yield %></div>
  <div class="small-4 columns"><br>

    <h2 class="subheader">What Is This?</h2>
    <hr>
    GeekSocial is a calendar for nerds, geeks, developers and other like-minded people. It was built by Jesse Waites on Ruby on Rails version 4, with Ruby v 1.9.3, under version control at GutHub. The front-end was built on the Foundation 4 framework. Cosby sweater skateboard cardigan gluten-free, roof party paleo wolf vinyl lomo. Semiotics Odd Future hoodie, vinyl chambray Tumblr chillwave hashtag Pitchfork pug. Craft beer mustache actually literally, Intelligentsia Pinterest brunch Wes Anderson banh mi ennui distillery sustainable pour-over Austin cliche. McSweeney's banh mi meggings tousled Austin, aesthetic pour-over bespoke Neutra.
    <hr>
  </div>


</div>

<footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>Built by Jesse Waites w Rails 4 & Zurb Foundation &copy;</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Hire me</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>




    <%= javascript_include_tag "application" %>
  </body>
</html>