<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid sticky">
    <nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "GeekSocial", root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Browse Events", root_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Add Event", new_event_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Contact Us" %></li>
      <li class="divider"></li>
      <li><%= link_to "Sign In" %></li>
    </ul>
  </div>
  </div>
</nav>

<div class="row">
  <div class="small-8 columns"><%= yield %></div>
  <div class="small-4 columns"><br>

    <h2 class="subheader">What Is This?</h2>
    <hr>
    GeekSocial is a demo Ruby on Rails app and calendar for smart people- People like Developers and other like-minded people... Site design and implementation by Jesse Waites in Rails 4, with Ruby v1.9.3, while under version control at GitHub. The front-end was built on the Foundation 4 framework.<br>
    <br>
    Features coming soon:<br>
    <hr>
    An authentiction system (Logging in and out) with the Devise gem, the ability to "like" an events, the ability to upload images with the Paparclip gem, and possibly the ability to log in through FB and Twitter Oauth.
    <hr>
  </div>


</div>

<footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>Built by Jesse Waites w Rails 4 & Zurb Foundation &copy;</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>




    <%= javascript_include_tag "application" %>
  </body>
</html>