
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Demo Ruby on Rails 4 site" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="contain-to-grid sticky">
    <nav class="top-bar">
  <ul class="title-area">
    <li class="name", "toggle-topbar menu-item">
      <h1><%= link_to "GeekSocial", events_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Browse Events", events_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Add Event", new_event_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Hire Me", info_contact_path %></li>
      <li class="divider"></li>
      <li><%= link_to "About", info_about_path %></li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Account</a>
          <ul class="dropdown">
          <li class="has-dropdown"><%= link_to "Sign Up", new_user_registration_path %>
          <li class="has-dropdown"><%= link_to "Sign In", new_user_session_path %>
          <li class="has-dropdown"><%= link_to "Sign Out", destroy_user_session_path %>
    </ul>
  </div>
  </div>
</nav>

<div class="row">
  <div class="large-8 columns">
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %></div>
  <div class="large-4 columns"><br>
    <% if user_signed_in? %>
        Logged in as: <%= current_user.email %>
        <% end %>
    <h2 class="subheader">What Is This?</h2>
    <hr>
    GeekSocial is a fully responsive demonstration Ruby on Rails app and event calendar for smart people. GeekSocial features complete user authentication functionality via the Devise gem. Site design and implementation by Jesse Waites in Rails 4.0, with Ruby v1.9.3, while under version control at GitHub. The front-end was built on the Foundation 4 framework. Google Analytics is installed and reporting. Typography comes courtesy of Google Fonts- Specifically, the 'Ubuntu' font for the headers and 'Dosis' for the body text. The color scheme was selected by my little sister and I. She was compensated for her consulting services with Ice cream.
    <hr>
    <%= link_to image_tag("hireme.png"), "http://fierce-badlands-2327.herokuapp.com/info/contact" %>
  </div>


</div>

<footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>Built by Jesse Waites with Rails 4 & Foundation 4</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="http://www.linkedin.com/profile/view?id=69029327">LinkedIn</a></li>
            <li><a href="https://github.com/piratebroadcast/">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <%= render 'layouts/ga' %>
  </footer>



    <link href='http://fonts.googleapis.com/css?family=Dosis:400,500|Ubuntu' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <script src="/js/foundation.min.js"></script>
  </body>
</html>